<main>
  <title>Angular</title>
  <h1>Japon</h1>
  <p>Japón es un archipiélago en el este de Asia, situado en el Océano Pacífico. Es un país insular que está formado por cuatro islas principales: Honshu, Hokkaido, Kyushu y Shikoku, así como por otras 6.848 islas más pequeñas.

La cultura japonesa es muy rica y diversa, con una larga historia que se remonta a más de 1.500 años. Japón es conocido por sus tradiciones, como la ceremonia del té, el arte floral ikebana, el teatro Noh, el sumo y las artes marciales como el karate y el judo. También es conocido por su tecnología avanzada y su innovación en áreas como la electrónica, la robótica y la automoción.</p>

</main>
<app-infoview></app-infoview>
